// out: ../main.css
@import "normalise.less";
@import "fa/font-awesome.less";
@import "dragula.min.css";
@import "colors.less";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|700');

html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
}
*{
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: .5em;
    position: absolute;
    color: #eee;
    height: auto;
    top:0;
    .title{
        font-size: 135%;
        font-weight: 700;
    }
}

.hero{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    background: #25689C;
    padding: 3em 0;
    min-height: 20em;
    .spiel-wrap{
        background: rgba(50,50,50,.3);
        box-shadow: 0 0 4px rgba(0,0,0,.04), 0 4px 8px rgba(0,0,0,.18);

        align-items: center;
        display: flex;
        color: #eee;

        margin: 1em 0;
        border-radius: .5em;
        padding: 1em;
        .spiel{

            .main-spiel{
                font-size: 175%;
                font-weight: 700;
            }
            .sub-spiel{
                padding: .5em 0;
                font-size: 140%;

            }
        }
    }
    .action-spiel{
        padding: 1em;
        background: #50BA1B;
        border-radius: 1em;
        margin-top: .5em;
        display: block;
        color: white;
        text-decoration: none;
        transition: .3s all;

        &:hover{
            background: darken(#50BA1B,3%);
        }
        &:active{
            background: darken(#50BA1B,7%);
        }
    }
    .action{
        i{
            padding: 0 .5em;
        }
    }
}
.discussion{
    padding: 0em 5em;

}
.row{
    margin-left: 0;
    margin-right: 0;
}
footer{
    background: #ececec;
    
    padding: 3em 5em;
    position: relative;
    bottom: 0;
    width: 100%;
    align-self: flex-end;
}
.main-wrap{
    min-height: 80%;
    display: flex;
    flex-direction: column;
    .content{
        flex: 1;
    }
}
.options{
    display: flex;
    padding: 2em 5em;
    .option{
        padding: 1em;   
        text-decoration: none;
        color: #777;
        .option-content-wrap{
            box-shadow: 0 0 4px rgba(0,0,0,.04), 0 4px 8px rgba(0,0,0,.18);
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 1em;
            padding: 1em 0;
            transition: .1s all;
            &:hover{
                background: rgba(240,240,240,.8);
            }
        }
        i{
            font-size: 150%;
            padding: 1em;
            width: 100%;
            text-align: center;
        }
        .info{
            width: 100%;
            text-align: center;
        }
    }
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .content{
            padding: 0 3.5em;
        }
        .action-spiel{
            max-width: 50%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .content{
            padding: 0 7.5em;
        }


    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .content{
            padding: 0 12.5em;
        }

    }

    ///ORIENTATION BASED BREAKPOINTS
    @media screen and (orientation:portrait) { }
 @media screen and (orientation:landscape) {}





